

 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  position: relative;
  width: 1440px;
  height: 809px;
  background: #FFFFFF;
  border-radius: 30px;
}
.container{
  /* background-image: url(./images/Frame\ 1.jpg); */
  /* background-repeat: none; */
  position: absolute;
  width: 1338px;
  height: 672px;
  left: 0px;
  top: 103px;
  background: url(v904-nunny-012.jpg);
  border-radius: 0px 40px 40px 0px;
}
.logo{
  margin-left: -150px;
}
ul{
  display: flex;
  gap: 59px;
}
.photo{
  width: 1440px;
  height: 809px;
}
.header{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 130px 0px 100px;
  gap: 801px; 
  position: absolute;
  width: 1440px;
  height: 41.5px;
  left: 0px;
  top: 40px;
}
.image{
  position: absolute;
  width: 607px;
  height: 663.71px;
  left: -20px;
  top: 111px;
}
.error{
  position: absolute;
  top: 294px;
  left: 567px;
  width: 490px;
  height: 85px;
  font-family: 'Clinton';
  font-style: normal;
  font-weight: 800;
  font-size: 79.9px;
  line-height: 106.7%;
  color: #10439C;
}
.description{
  gap: 94px;
  position: absolute;
  width: 490px;
  height: 333px;
  left: 637px;
  top: 380px;
}
.whoops{
  width: 256px;
  height: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 56.4px;
  line-height: 106.7%;
  color: #0E47A0;
}
.bottom_hoop{
  flex-wrap: wrap;
  position: absolute;
  top: 82px;
  width: 430px;
  height: 21px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 19.6px;
  line-height: 106.7%;
  color: #171717;
}
.btn{
  position: absolute;
  top: 155px;
  width: 240px;
  height: 50px;
  padding: 16px;
  gap: 16px;
  background: #D72AB0;
  border-radius: 10px;
}
@media(min-width:0)and(max-width:430px){

  .container{
    max-width: 390px;
    flex-direction: column;
  }
  .header{
    display: none;
  }
  
  .error{
    display: none;
  }
  .image{
    width: 380.45px;
    height: 416px; 
  }
  .whoops{
    width: 235px;
    height: 55px;
    font-weight: 600;
    font-size: 51.7px;
    color: blue;
  }
  .bottom_hoop{
  width: 277px;
  height: 42px;
  font-weight: 400;
  font-size: 19.6px;
  line-height: 106.7%;
  color: black;
  }
  .btn{
    padding: 16px;
    gap: 16px;
    background: pink;
    border-radius: 10px; 
  }
}